#blog {
    margin: 30px;
    width: auto;
}

#blog h2, h3, h4 {
    text-align: center;
    
}

#blog  .blog__titulo {
    font-size: 20px;
    background: #333;
    color: #fff;
}

#blog .blog__encabezado {
    font-size: 20px;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 80px;
}


#blog img {
    display: block;
    width: 400px;
    height: 200px;
    max-width: 95%;
}

.blog__enlace {
    color: #fff;
    text-decoration: none;
}



