#info {
    margin: 30px;
    width: auto;
}

#info h2, h3, h4 {
    text-align: center;
    
}

#info  .info__titulo {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.info__enlace {
    color: #000;
    text-decoration: none;
}

#info .info__encabezado {
    font-size: 20px;
}

#info .info__txt{
    text-align:justify;
    margin-bottom: 20px;
}


#info .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}


#info img {
    display: block;
    width: 400px;
    height: 200px;
    max-width: 95%;
}



#info .info__img{
    margin: auto;
}






