
@media (min-width:1024px){

    #error .contenedor {
        width: auto;
    }
    
    #error .foro__img {
        width: 400px;
        height: 200px;
    }

    #error h2 {
        color : #fff;
        font-size: 35px;
    }

    #error p {
        color: #fff;
        font-size: 25px;
    }
}