
.espacio__columna {
    color: #333;
    margin-bottom: 20px;
}

.espacio__titulo{
    font-size: 25px;
    margin: 10px 0;
    padding: 15px 8px;
    border-style: solid;
    border-color: #ddd;
}

.espacio__txt{
    text-align: justify;
    color: #777;
    padding: 15px 10px;
}


/* Tamaño Mobil */
@media(min-width:480px){
    
    .espacio {
        display: flex;
        justify-content: space-between;
    }  
    
    .espacio__columna {
        text-align: left;
    }
    
    .espacio__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
}

/* Tamaño pc */
@media(min-width:1024px){
    
    .main .contenedor {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    .espacio {
        display: block;
        justify-content: space-between;
        position:relative;
    }  
    
    
    .espacio__titulo {
        margin-top: 20px;
        font-size: 35px;
        text-align: left;
    }
    
    .espacio__txt{
        text-align: justify;
        color: #777;
        padding: 10px 10px;
    }
}